# -----------------
# BASE COMPOSE FILE
# -----------------
name: ${PROJECT_FULL_NAME}

# --- Set Up Services --- # 
services: 

  #### --------------------- #
  #### ----- UTILITIES ----- #
  #### --------------------- #
  
  # -------------------
  # CERTIFICATE RENEWER
  # ------------------- 
  cert-renewer:
    container_name: ${PROJECT_FULL_NAME}_cert-renewer 
    build: 
      context: ../setup/cert-renewer 
      dockerfile: Dockerfile
      target: main
      args: 
        ALPINE_VERSION: ${PROJECT_ALPINE_VERSION}
        MKCERT_VERSION: ${PROJECT_MKCERT_VERSION}
    security_opt: 
      - no-new-privileges: true
    env_file: 
      - ${PROJECT_ROOT}/.env 
    environment: 
      PROJECT_SHELL_MODE: ${PROJECT_SHELL_MODE:-main}
      PROJECT_USER: ${PROJECT_USER}
    user: root 
    working_dir: /home/project/context
    restart: always
    command: tail -f /dev/null
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro 
      - ${PROJECT_ROOT}:/home/project/context
      - ../setup/cert-renewer/crontab:/etc/crontabs/root
    networks: 
      - main
    

  #### ---------------------------- #
  #### ----- BACK-END CONTEXT ----- #
  #### ---------------------------- #

  # --------
  # BACK-END
  # -------- 
  backend: 
    container_name: ${PROJECT_FULL_NAME}_backend 
    build: 
      context: ../setup/backend/ 
      dockerfile: Dockerfile 
      target: local
      args: 
        NODE_VERSION: ${PROJECT_NODE_VERSION}
    security_opt: 
      - no-new-privileges: true
    env_file: 
      - ${PROJECT_ROOT}/.env 
    environment: 
      PROJECT_SHELL_MODE: ${PROJECT_SHELL_MODE:-main}
      PROJECT_USER: ${PROJECT_USER}
    working_dir: /home/project/source 
    restart: always
    command: sh /home/project/start.sh 
    user: ${PROJECT_USER}
    volumes: 
      - ${PROJECT_ROOT}/source/backend:/home/project/source 
      - ${TEMPLATE_ROOT}/start/backend.sh:/home/project/start.sh
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro 
    secrets: 
      - source: env_secrets_file
        target: /run/secrets/.env.secrets
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(${PROJECT_SUBDOMAIN_BACKEND}${PROJECT_FULL_DOMAIN_LOCAL})"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"
    networks: 
      - main


  #### ----------------------------- #
  #### ----- FRONT-END CONTEXT ----- #
  #### ----------------------------- #

  # ---------------
  # FRONT-END (WEB)
  # ---------------
  frontend-web: 
    container_name: ${PROJECT_FULL_NAME}_frontend-web 
    build: 
      context: ../setup/frontend-web/ 
      dockerfile: Dockerfile 
      target: local
      args: 
        NODE_VERSION: ${PROJECT_NODE_VERSION}
    security_opt: 
      - no-new-privileges: true
    env_file: 
      - ${PROJECT_ROOT}/.env 
    environment: 
      PROJECT_SHELL_MODE: ${PROJECT_SHELL_MODE:-main}
      PROJECT_USER: ${PROJECT_USER}
    working_dir: /home/project/source
    restart: always
    command: sh /home/project/start.sh
    user: ${PROJECT_USER}
    volumes: 
      - ${PROJECT_ROOT}/source/frontend-web:/home/project/source 
      - ${TEMPLATE_ROOT}/start/frontend-web.sh:/home/project/start.sh 
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro 
    secrets: 
      - source: env_secrets_file
        target: /run/secrets/.env.secrets
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(${PROJECT_SUBDOMAIN_FRONTEND_WEB}${PROJECT_FULL_DOMAIN_LOCAL})"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"
    networks: 
      - main
   
  # ------------------
  # FRONT-END (MOBILE)
  # ------------------
  frontend-mobile: 
    container_name: ${PROJECT_FULL_NAME}_frontend-mobile 
    build: 
      context: ../setup/frontend-mobile/ 
      dockerfile: Dockerfile 
      target: local
      args: 
        NODE_VERSION: ${PROJECT_NODE_VERSION}
    security_opt: 
      - no-new-privileges: true
    env_file: 
      - ${PROJECT_ROOT}/.env 
    environment: 
      PROJECT_SHELL_MODE: ${PROJECT_SHELL_MODE:-main}
      PROJECT_USER: ${PROJECT_USER}
    working_dir: /home/project/source
    command: sh /home/project/start.sh
    user: ${PROJECT_USER}
    volumes: 
      - ${PROJECT_ROOT}/source/frontend-mobile:/home/project/source 
      - ${TEMPLATE_ROOT}/start/frontend-mobile.sh:/home/project/start.sh 
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro 
    secrets: 
      - source: env_secrets_file
        target: /run/secrets/.env.secrets
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(${PROJECT_SUBDOMAIN_FRONTEND_MOBILE}${PROJECT_FULL_DOMAIN_LOCAL})"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"
    networks: 
      - main

# --------
# NETWORKS
# --------
networks:   
  main: 
    name: ${PROJECT_FULL_NAME}_main
    driver: bridge 

# --------
# VOLUMES
# --------
volumes:  
  # --- Back-End Volumes --- # 
  backend-npm: 
    driver: local
  
  # --- Front-End Volumes --- # 
  frontend-web-npm: 
    driver: local
  frontend-mobile-npm: 
    driver: local

# -------
# SECRETS 
# ------- 
secrets: 
  env_secrets_file: 
    file: ${PROJECT_SECRETS_FILE}
